# Imports

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px 
import seaborn as sns
%matplotlib inline
pd.set_option('display.max_rows', 200)
pd.set_option('display.max_columns', 200)
plt.style.use('ggplot')

ModuleNotFoundError: No module named 'plotly'

# Data cleaning

In [5]:
# Import the data
df = pd.read_csv('~/Desktop/DS340W/data/NYPD_Complaint_Data_Historic.csv')
df.head()

/var/folders/r6/qcs_flrd7fj2bg8ml8rp61lc0000gn/T/ipykernel_66316/303519777.py:2: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('~/Desktop/DS340W/data/NYPD_Complaint_Data_Historic.csv')

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,ADDR_PCT_CD,RPT_DT,KY_CD,OFNS_DESC,PD_CD,...,SUSP_SEX,TRANSIT_DISTRICT,Latitude,Longitude,Lat_Lon,PATROL_BORO,STATION_NAME,VIC_AGE_GROUP,VIC_RACE,VIC_SEX
0,25640826H10611,12/05/2006,10:38:00,NaN,(null),NaN,12/05/2006,101,MURDER & NON-NEGL. MANSLAUGHTER,NaN,...,(null),NaN,NaN,NaN,NaN,PATROL BORO QUEENS NORTH,(null),25-44,WHITE HISPANIC,M
1,16631501H8965,08/25/1973,12:15:00,NaN,(null),NaN,05/29/2006,101,MURDER & NON-NEGL. MANSLAUGHTER,NaN,...,(null),NaN,NaN,NaN,NaN,PATROL BORO MAN NORTH,(null),45-64,BLACK,F
2,11118212H8714,04/22/2006,16:50:00,NaN,(null),NaN,04/22/2006,101,MURDER & NON-NEGL. MANSLAUGHTER,NaN,...,(null),NaN,NaN,NaN,NaN,PATROL BORO BKLYN SOUTH,(null),45-64,BLACK,M
3,23471265H9399,07/20/2006,22:37:00,NaN,(null),NaN,07/20/2006,101,MURDER & NON-NEGL. MANSLAUGHTER,NaN,...,(null),NaN,NaN,NaN,NaN,PATROL BORO BKLYN SOUTH,(null),18-24,BLACK,M
4,24565927H10142,04/14/2006,02:37:00,NaN,(null),NaN,04/14/2006,101,MURDER & NON-NEGL. MANSLAUGHTER,NaN,...,(null),NaN,NaN,NaN,NaN,PATROL BORO BKLYN NORTH,(null),45-64,BLACK,M

In [6]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
ADDR_PCT_CD,8914067.0,6.336865e+01,34.595293,1.000000,40.000000,6.300000e+01,9.400000e+01,1.230000e+02
KY_CD,8914838.0,2.972099e+02,152.169504,101.000000,117.000000,3.410000e+02,3.510000e+02,8.810000e+02
PD_CD,8907245.0,4.124253e+02,218.152285,100.000000,254.000000,3.610000e+02,6.370000e+02,9.750000e+02
JURISDICTION_CODE,8914838.0,6.833533e-01,6.498413,0.000000,0.000000,0.000000e+00,0.000000e+00,9.700000e+01
X_COORD_CD,8914372.0,1.004946e+06,21508.447431,0.000000,991691.000000,1.004418e+06,1.016866e+06,1.067306e+06
Y_COORD_CD,8914372.0,2.072020e+05,30355.003768,0.000000,184542.000000,2.062630e+05,2.351530e+05,2.719090e+05
TRANSIT_DISTRICT,198045.0,1.384329e+01,12.541970,1.000000,3.000000,1.100000e+01,3.000000e+01,3.400000e+01
Latitude,8914372.0,4.073530e+01,0.094813,0.000000,40.673156,4.073280e+01,4.081211e+01,4.091296e+01
Longitude,8914372.0,-7.392519e+01,0.112890,-74.254952,-73.973154,-7.392718e+01,-7.388222e+01,0.000000e+00

In [4]:
# drop useless columns
df.drop(columns = ['PD_CD','PD_DESC','JURISDICTION_CODE','JURIS_DESC','KY_CD','RPT_DT','LOC_OF_OCCUR_DESC'],inplace = True)

In [5]:
# percentage of nan values for each column
for column in df.columns:
    print(f'{column}:missing {df[column].isna().sum()*100/len(df)}')

CMPLNT_NUM:missing 0.0
CMPLNT_FR_DT:missing 0.009379644624597266
CMPLNT_FR_TM:missing 0.0006873632701994943
CMPLNT_TO_DT:missing 23.89125798504899
CMPLNT_TO_TM:missing 23.826144635265717
ADDR_PCT_CD:missing 0.03101726756775218
OFNS_DESC:missing 0.26957528253136415
CRM_ATPT_CPTD_CD:missing 0.00010024047690409292
LAW_CAT_CD:missing 0.0
BORO_NM:missing 0.1560028221990269
PREM_TYP_DESC:missing 0.5689649469076314
PARKS_NM:missing 99.6413109335009
HADEVELOPT:missing 95.04485546540437
HOUSING_PSA:missing 92.31142654084292
X_COORD_CD:missing 0.3445981194600131
Y_COORD_CD:missing 0.3445981194600131
SUSP_AGE_GROUP:missing 67.41276608297592
SUSP_RACE:missing 47.81516572543246
SUSP_SEX:missing 49.72423128800278
TRANSIT_DISTRICT:missing 97.75054641799964
Latitude:missing 0.3445981194600131
Longitude:missing 0.3445981194600131
Lat_Lon:missing 0.3445981194600131
PATROL_BORO:missing 0.09053147071252506
STATION_NAME:missing 97.75054641799964
VIC_AGE_GROUP:missing 23.46262970580709
VIC_RACE:missing 0.0044105809837800885
VIC_SEX:missing 0.004396260915650933

In [6]:
# drop columns with high nan and redundent information %
df.drop(columns=['HOUSING_PSA','TRANSIT_DISTRICT'],inplace=True)

In [7]:
df.loc[df['PARKS_NM'].notnull(),'PARKS_NM'] = 1
df.loc[df['PARKS_NM'].isna(),'PARKS_NM'] = 0

df.loc[df['HADEVELOPT'].notnull(),'HADEVELOPT'] = 1
df.loc[df['HADEVELOPT'].isna(),'HADEVELOPT'] = 0

df.loc[df['STATION_NAME'].notnull(),'STATION_NAME'] = 1
df.loc[df['STATION_NAME'].isna(),'STATION_NAME'] = 0


df = df.rename({'PARKS_NM':'IN_PARK','HADEVELOPT':'IN_PUBLIC_HOUSING','STATION_NAME':'IN_STATION'},axis = 1)

In [8]:
#remove unnecessary coordinate columns
df.drop(columns=['X_COORD_CD','Y_COORD_CD',"Lat_Lon"],inplace=True)

In [9]:
# Rows without coordinates should be dropped
df = df[df['Latitude'].notna()]
df = df[df['Longitude'].notna()]

In [10]:
# check if the two columns have the same values
if all(df['CMPLNT_FR_DT'].notna() == df['CMPLNT_TO_DT'].notna()):
    df.drop(columns='CMPLNT_TO_DT',inplace = True)

In [11]:
# change date columns to YYYY-MM-DD
df['CMPLNT_FR_DT']= pd.to_datetime(df['CMPLNT_FR_DT'],errors='coerce')
df['CMPLNT_FR_TM'] = pd.to_datetime(df['CMPLNT_FR_TM'],errors='coerce')

In [12]:
# delete columns that have no event start date or time
df = df[df['CMPLNT_FR_DT'].notna()]
df = df[df['CMPLNT_FR_TM'].notna()]

In [13]:
# these columns have redundent info
df.drop(columns='CMPLNT_TO_TM',inplace = True)
df.drop(columns='CMPLNT_TO_DT',inplace = True)

In [14]:
# split date to year, month and day
df['year'] = df['CMPLNT_FR_DT'].dt.year
df['month'] = df['CMPLNT_FR_DT'].dt.month
df['day'] = df['CMPLNT_FR_DT'].dt.day
df['hour'] =df['CMPLNT_FR_TM'].dt.hour
# add week day column
df['weekday'] = pd.to_datetime(df['CMPLNT_FR_DT']).dt.day_name()
df.drop(columns='CMPLNT_FR_DT',inplace = True)
df.drop(columns='CMPLNT_FR_TM',inplace = True)

In [15]:
df.head()

,CMPLNT_NUM,ADDR_PCT_CD,OFNS_DESC,CRM_ATPT_CPTD_CD,LAW_CAT_CD,BORO_NM,PREM_TYP_DESC,IN_PARK,IN_PUBLIC_HOUSING,SUSP_AGE_GROUP,SUSP_RACE,SUSP_SEX,Latitude,Longitude,PATROL_BORO,IN_STATION,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,year,month,day,hour,weekday
0,724718389,81.0,ASSAULT 3 & RELATED OFFENSES,COMPLETED,MISDEMEANOR,BROOKLYN,STREET,0,0,NaN,NaN,NaN,40.685041,-73.921777,PATROL BORO BKLYN NORTH,0,25-44,WHITE,F,2014,9,4,17,Thursday
1,191133903,121.0,GRAND LARCENY,COMPLETED,FELONY,STATEN ISLAND,STREET,0,0,UNKNOWN,BLACK,U,40.636991,-74.134093,PATROL BORO STATEN ISLAND,0,45-64,WHITE HISPANIC,F,2016,10,12,7,Wednesday
2,720151206,41.0,GRAND LARCENY,COMPLETED,FELONY,BRONX,STREET,0,0,NaN,WHITE HISPANIC,M,40.823876,-73.891863,PATROL BORO BRONX,0,45-64,WHITE HISPANIC,F,2012,9,28,13,Friday
3,232242098,46.0,PETIT LARCENY,COMPLETED,MISDEMEANOR,BRONX,STREET,0,0,NaN,BLACK,M,40.845707,-73.910398,PATROL BORO BRONX,0,<18,WHITE HISPANIC,F,2015,3,24,15,Tuesday
4,708078702,109.0,ASSAULT 3 & RELATED OFFENSES,COMPLETED,MISDEMEANOR,QUEENS,STREET,0,0,25-44,WHITE HISPANIC,M,40.763992,-73.828426,PATROL BORO QUEENS NORTH,0,25-44,BLACK,M,2017,5,20,4,Saturday

In [16]:
# clean suspect and victim data
df['SUSP_RACE'] = df['SUSP_RACE'].fillna('UNKNOWN')
df['VIC_RACE'] = df['VIC_RACE'].fillna('UNKNOWN')

df['SUSP_SEX'] = df['SUSP_SEX'].fillna('U')
df['VIC_SEX'] = df['VIC_SEX'].fillna('U')

In [17]:
# take care of unvalid age data
valid_age = ['UNKNOWN', '25-44', '<18', '45-64', '65+', '18-24']
df.loc[~df['SUSP_AGE_GROUP'].isin(valid_age),'SUSP_AGE_GROUP'] = 'UNKNOWN'
df.loc[~df['VIC_AGE_GROUP'].isin(valid_age),'VIC_AGE_GROUP'] = 'UNKNOWN'

In [18]:
# redundent data
df.drop(columns='PATROL_BORO',inplace = True)
df['BORO_NM'] = df['BORO_NM'].fillna('UNKNOWN')

In [19]:
df.head()

,CMPLNT_NUM,ADDR_PCT_CD,OFNS_DESC,CRM_ATPT_CPTD_CD,LAW_CAT_CD,BORO_NM,PREM_TYP_DESC,IN_PARK,IN_PUBLIC_HOUSING,SUSP_AGE_GROUP,SUSP_RACE,SUSP_SEX,Latitude,Longitude,IN_STATION,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,year,month,day,hour,weekday
0,724718389,81.0,ASSAULT 3 & RELATED OFFENSES,COMPLETED,MISDEMEANOR,BROOKLYN,STREET,0,0,UNKNOWN,UNKNOWN,U,40.685041,-73.921777,0,25-44,WHITE,F,2014,9,4,17,Thursday
1,191133903,121.0,GRAND LARCENY,COMPLETED,FELONY,STATEN ISLAND,STREET,0,0,UNKNOWN,BLACK,U,40.636991,-74.134093,0,45-64,WHITE HISPANIC,F,2016,10,12,7,Wednesday
2,720151206,41.0,GRAND LARCENY,COMPLETED,FELONY,BRONX,STREET,0,0,UNKNOWN,WHITE HISPANIC,M,40.823876,-73.891863,0,45-64,WHITE HISPANIC,F,2012,9,28,13,Friday
3,232242098,46.0,PETIT LARCENY,COMPLETED,MISDEMEANOR,BRONX,STREET,0,0,UNKNOWN,BLACK,M,40.845707,-73.910398,0,<18,WHITE HISPANIC,F,2015,3,24,15,Tuesday
4,708078702,109.0,ASSAULT 3 & RELATED OFFENSES,COMPLETED,MISDEMEANOR,QUEENS,STREET,0,0,25-44,WHITE HISPANIC,M,40.763992,-73.828426,0,25-44,BLACK,M,2017,5,20,4,Saturday

In [20]:
df.dropna(inplace=True)
len(df)

6901168

In [21]:
# encode crime severity
df['LAW_CAT_CD'] = df['LAW_CAT_CD'].replace(['felony','misdemeanor','violation'],[2,1,0])

In [22]:
df.columns

Index(['CMPLNT_NUM', 'ADDR_PCT_CD', 'OFNS_DESC', 'CRM_ATPT_CPTD_CD',
       'LAW_CAT_CD', 'BORO_NM', 'PREM_TYP_DESC', 'IN_PARK',
       'IN_PUBLIC_HOUSING', 'SUSP_AGE_GROUP', 'SUSP_RACE', 'SUSP_SEX',
       'Latitude', 'Longitude', 'IN_STATION', 'VIC_AGE_GROUP', 'VIC_RACE',
       'VIC_SEX', 'year', 'month', 'day', 'hour', 'weekday'],
      dtype='object')

In [23]:

df = df.rename({'LAW_CAT_CD':'CRIME_CLASS'},axis = 1)

In [24]:
df['CRIME_CLASS'].value_counts()

MISDEMEANOR    3888210
FELONY         2124247
VIOLATION       888711
Name: CRIME_CLASS, dtype: int64

In [25]:
column_titles = ['CMPLNT_NUM','year','month', 'day','weekday','hour','Latitude', 'Longitude', 'CRM_ATPT_CPTD_CD',
                 'OFNS_DESC', 'ADDR_PCT_CD', 'CRIME_CLASS', 'BORO_NM', 'PREM_TYP_DESC',
                 'IN_PARK', 'IN_PUBLIC_HOUSING', 'IN_STATION',
                 'SUSP_AGE_GROUP', 'SUSP_RACE', 'SUSP_SEX',
                 'VIC_AGE_GROUP', 'VIC_RACE', 'VIC_SEX']
df = df.reindex(columns = column_titles)

In [26]:
df.head()

,CMPLNT_NUM,year,month,day,weekday,hour,Latitude,Longitude,CRM_ATPT_CPTD_CD,OFNS_DESC,ADDR_PCT_CD,CRIME_CLASS,BORO_NM,PREM_TYP_DESC,IN_PARK,IN_PUBLIC_HOUSING,IN_STATION,SUSP_AGE_GROUP,SUSP_RACE,SUSP_SEX,VIC_AGE_GROUP,VIC_RACE,VIC_SEX
0,724718389,2014,9,4,Thursday,17,40.685041,-73.921777,COMPLETED,ASSAULT 3 & RELATED OFFENSES,81.0,MISDEMEANOR,BROOKLYN,STREET,0,0,0,UNKNOWN,UNKNOWN,U,25-44,WHITE,F
1,191133903,2016,10,12,Wednesday,7,40.636991,-74.134093,COMPLETED,GRAND LARCENY,121.0,FELONY,STATEN ISLAND,STREET,0,0,0,UNKNOWN,BLACK,U,45-64,WHITE HISPANIC,F
2,720151206,2012,9,28,Friday,13,40.823876,-73.891863,COMPLETED,GRAND LARCENY,41.0,FELONY,BRONX,STREET,0,0,0,UNKNOWN,WHITE HISPANIC,M,45-64,WHITE HISPANIC,F
3,232242098,2015,3,24,Tuesday,15,40.845707,-73.910398,COMPLETED,PETIT LARCENY,46.0,MISDEMEANOR,BRONX,STREET,0,0,0,UNKNOWN,BLACK,M,<18,WHITE HISPANIC,F
4,708078702,2017,5,20,Saturday,4,40.763992,-73.828426,COMPLETED,ASSAULT 3 & RELATED OFFENSES,109.0,MISDEMEANOR,QUEENS,STREET,0,0,0,25-44,WHITE HISPANIC,M,25-44,BLACK,M

In [27]:
df = df[df['year']>2005]
df_2019 = df[df['year']==2019]
df_train = df[df['year']!=2019]

In [28]:
df.to_csv('ny_clean_all.csv',index= False)
df_train.to_csv('ny_clean.csv',index=False)
df_2019.to_csv('ny_clean_2019.csv',index=False)